body {
  margin: 0;
  padding: 0;
}
.header {
  list-style-type: none;
  margin: 10px;
  overflow: hidden;
  margin-right: 16px;
  font-family: arial, sans-serif;
  font-size: 13px;
  display: flex;
}

.headerli a {
  display: block;
  color: black;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

.headerli a:hover {
  text-decoration: underline;
}

.container {
  text-align: center;
  margin: 100px;
}

.search-area {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: -77px auto 0 auto;
  width: 482px;
  width: auto;
  max-width: 584px;
}

.search-area:hover {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.24), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.search {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
}

.search-img {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.search-img span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}

.input-enter {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.input-area {
  color: transparent;
  flex: 100%;
  white-space: pre;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  display: block;
}

.input {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -68px;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: textfield;
  cursor: text;
  width: 480px;
  border-width: 0;
}

.googlesearch {
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  color: #5f6368;
  font-size: 14px;
}

.butonstyle {
  border-radius: 0;
  background-color: #f8f9fa;
}

.feelinglucky {
  color: #5f6368;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
}

.footer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #dfe1e5;
  border-top: 1px solid #dadce0;
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 10px;
  background-color: #f2f2f2;
  list-style-type: none;
}

.footerli {
  float: left;
}

.footerli a {
  display: block;
  color: #70757a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin-left: 14px;
  margin-right: -20px;
}

.goxjub {
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

.footerli a:hover {
  text-decoration: underline;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
}

.panel {
}
.pic {
  border-radius: 10px;
}

.buttons {
  margin-top: 15px;
  text-align: center;
}

button {
  border-color: transparent;
}
.butonstyle:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}
.mic {
  flex: 1 0 auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 8px;
  width: 24px;
  line-height: 44px;
}
.mic-container {
  display: flex;
  flex: 0 0 auto;
  margin-top: -5px;
  align-items: stretch;
  flex-direction: row;
}
.ly0Ckb {
  background: url(//www.gstatic.com/inputtools/images/tia.png) no-repeat center;
  width: 24px;
  vertical-align: middle;
}

.yAnw3c {
  visibility: hidden;
}
.keyb-logo {
  flex: 1 0 auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 8px;
  width: 24px;
  line-height: 44px;
}
